@page
@model DetailsModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script src="~/js/application.js"></script>
<link href="~/css/application.css" rel="stylesheet" />
<form method="post">
    <a asp-page="./Index"><i class="fa fa-arrow-circle-left" style="font-size:24px;color:grey"></i> Back</a>
    <br /><br />
    <h4>Airlines</h4>
    <table class="table">
        <thead>
            <tr>
                <th style="display:none">ID</th>
                <th>Name</th>
                <th>IATA</th>
                <th>ICAO</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.airlines != null)
            {
                foreach (var record in Model.airlines)
                {
                    <tr>
                        <td style="display:none"> @record.Id </td>
                        <td>@record.name</td>
                        <td>@record.iata</td>
                        <td>@record.icao</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <br /><br />

    <h4>Flight</h4>
    <table class="table">
        <thead>
            <tr>
                <th style="display:none">ID</th>
                <th>Number</th>
                <th>IATA</th>
                <th>ICAO</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.flights != null)
            {
                foreach (var record in Model.flights)
                {
                    <tr>
                        <td style="display:none"> @record.Id </td>
                        <td>@record.number</td>
                        <td>@record.iata</td>
                        <td>@record.icao</td>
                        <td>
                            <a style="color:#007bff" id="moreTag">More</a>
                            <i id="iconClose" class="fa fa-close" style="font-size:20px;display:none"></i>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div id="codeDetails" style="display:none">
        <h4>Code Shared</h4>
        <table class="table">
            <thead>
                <tr>
                    <th style="display:none">ID</th>
                    <th>Airline Name</th>
                    <th>Airline IATA</th>
                    <th>Airline ICAO</th>
                    <th>Flight Number</th>
                    <th>Flight IATA</th>
                    <th>Flight ICAO</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.codeshareds != null)
                {
                    foreach (var record in Model.codeshareds)
                    {
                        <tr>
                            <td style="display:none"> @record.Id </td>
                            <td>@record.airline_name</td>
                            <td>@record.airline_iata</td>
                            <td>@record.airline_icao</td>
                            <td>@record.flight_number</td>
                            <td>@record.flight_iata</td>
                            <td>@record.flight_icao</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>
    <br /><br />

    <h4>Departure</h4>
    <table class="table">
        <thead>
            <tr>
                <th style="display:none">ID</th>
                <th>Airport</th>
                <th>Timezone</th>
                <th>IATA</th>
                <th>ICAO</th>
                <th>Terminal</th>
                <th>Gate</th>
                <th>Delay</th>
                <th>Scheduled</th>
                <th>Estimated</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.departures != null)
            {
                foreach (var record in Model.departures)
                {
                    <tr>
                        <td style="display:none"> @record.Id </td>
                        <td>@record.airport</td>
                        <td>@record.timezone</td>
                        <td> @record.iata </td>
                        <td>@record.icao</td>
                        <td>@record.terminal</td>
                        <td>@record.gate</td>
                        <td> @record.delay </td>
                        @if (record.scheduled != null)
                        {
                            <td>@record.scheduled.ToString("MM-dd-yyyy hh:mm tt")</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (record.estimated != null)
                        {
                            <td>@record.estimated.ToString("MM-dd-yyyy hh:mm tt")</td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
    <br /><br />

    <h4>Arrival</h4>
    <table class="table">
        <thead>
            <tr>
                <th style="display:none">ID</th>
                <th>Airport</th>
                <th>Timezone</th>
                <th>IATA</th>
                <th>ICAO</th>
                <th>Terminal</th>
                <th>Gate</th>
                <th>Baggage</th>
                <th>Scheduled</th>
                <th>Estimated</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.arrivals != null)
            {
                foreach (var record in Model.arrivals)
                {
                    <tr>
                        <td style="display:none"> @record.Id </td>
                        <td>@record.airport</td>
                        <td>@record.timezone</td>
                        <td> @record.iata </td>
                        <td>@record.icao</td>
                        <td>@record.terminal</td>
                        <td>@record.gate</td>
                        <td> @record.baggage </td>
                        @if (record.scheduled != null)
                        {
                            <td>@record.scheduled.ToString("MM-dd-yyyy hh:mm tt")</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (record.estimated != null)
                        {
                            <td>@record.estimated.ToString("MM-dd-yyyy hh:mm tt")</td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</form>
